<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://kit.fontawesome.com/6e14f316a3.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Diario AM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Index">Inicio</a>

                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Autor"))
                    {


                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-fw fa-user"></i> @Html.Encode(User.Identity.Name)
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink2">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-logout">Cerrar sesión</a></li>
                            </ul>


                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/Usuario/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Usuario/CrearUsuario">Registrarse</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink3">
                                <li><a class="dropdown-item" href="/Publicacion/CrearPublicacion">Crear publicación</a></li>
                                <li><a class="dropdown-item" href="/Categoria/AgregarCategoria">Crear categoría</a></li>
                                <li><a class="dropdown-item" href="/Categoria/ObtenerListaCategorias">Administrar categorías</a></li>
                                <li><a class="dropdown-item" href="/Usuario/ObtenerListaUsuarios">Administrar usuarios</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Autor"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Publicacion/CrearPublicacion">Crear Publicación</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="modal-logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Seguro que desea cerrar sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="location.href='@Url.Action("Logout", "Usuario")'" class="btn btn-primary">Salir</button>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()



    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Diario AM</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
