@model ProyectoWebBlog.Models.ViewModels.UsuarioModel
@{
    ViewBag.Title = "CrearUsuario";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CrearUsuario", "Usuario", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(usuario => usuario.Id)
                @Html.TextBoxFor(usuario => usuario.Id, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.Id, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(usuario => usuario.Correo)
                @Html.TextBoxFor(usuario => usuario.Correo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.Correo, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(usuario => usuario.Nombre)
                @Html.TextBoxFor(usuario => usuario.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.Nombre, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(usuario => usuario.PrimerApellido)
                @Html.TextBoxFor(usuario => usuario.PrimerApellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.PrimerApellido, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(usuario => usuario.SegundoApellido)
                @Html.TextBoxFor(usuario => usuario.SegundoApellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.SegundoApellido, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(usuario => usuario.Rol)
                @Html.TextBoxFor(usuario => usuario.Rol, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(usuario => usuario.Rol, "", new { @class = "text-danger" })
            </div>
            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>

        </div>
    </div>
}