@model List<ProyectoWebBlog.Models.ViewModels.UsuarioModel>
@{
    ViewBag.Title = "Mis datos";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right">
    <a href="~/Usuario/CrearUsuario" class="btn btn-default">Nuevo</a>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id </th>
                <th>Correo </th>
                <th>Nombre </th>
                <th>Primer Apellido </th>
                <th>Segundo Apellido </th>
                <th>Rol </th>
                <th></th>
            </tr>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.Id</td>
                    <td>@elemento.Correo</td>
                    <td>@elemento.Nombre</td>
                    <td>@elemento.PrimerApellido</td>
                    <td>@elemento.SegundoApellido</td>
                    <td>@elemento.Rol</td>
                    <td>
                        <a class="btn btn-default" href="~/Usuario/EditarUsuario/@elemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Usuario/EliminarUsuario/@elemento.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>