@model ProyectoWebBlog.Models.ViewModels.PublicacionModel
@using System.Web;
@{
    ViewBag.Title = "Crear Publicación";
}

<div class="container-fluid justify-content-center formulario">


    @using (Html.BeginForm("CrearPublicacion", "Publicacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div class="form-group">
            @Html.LabelFor(publicacion => publicacion.Titulo)
            @Html.TextBoxFor(publicacion => publicacion.Titulo, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(publicacion => publicacion.Titulo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(publicacion => publicacion.Texto)
            @Html.TextAreaFor(publicacion => publicacion.Texto, new { @class = "form-control", @rows = "5" })
            @Html.ValidationMessageFor(publicacion => publicacion.Texto, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(publicacion => publicacion.Categoria)
            @Html.DropDownList("categoria", ViewData["categorias"] as List<SelectListItem>, "---", new { @class = "form-select" })
            @Html.ValidationMessageFor(publicacion => publicacion.Categoria, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(publicacion => publicacion.IdUsuario)
            @Html.TextBoxFor(publicacion => publicacion.IdUsuario, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(publicacion => publicacion.IdUsuario, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(publicacion => publicacion.ArchivoFoto)
            @Html.TextBoxFor(publicacion => publicacion.ArchivoFoto, new { type = "file", @class = "btn btn alert-info" })
            @Html.ValidationMessageFor(publicacion => publicacion.ArchivoFoto, "", new { @class = "text-danger" })
        </div>
        <div style="text-align:right">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
        </div>
        }
    </div>