
@model List<ProyectoWebBlog.Models.ViewModels.PublicacionModel>
@{
    ViewBag.Title = "Mis datos";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right">
    <a href="~/Publicacion/CrearPublicacion" class="btn btn-default">Nuevo</a>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Fecha </th>
                <th>Titulos </th>
                <th>Texto</th>
                <th>Autor </th>
                <th>Numero Comentarios </th>
                <th>Categoria</th>
                <th></th>
            </tr>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.Fecha</td>
                    <td>@elemento.Titulo</td>
                    <td>@elemento.Texto</td>
                    <td>@elemento.IdUsuario</td>
                    <td>@elemento.NumeroComentarios</td>
                    <td>@elemento.Categoria</td>
                    <td>
                        @Html.ActionLink("Ver contenido digital", "accederArchivo", new { identificador = @elemento.Titulo, fecha = @elemento.Fecha },
                       new { @class = "btn btn-success" })
                    </td>

                    <td>
                        @{
                            string fecha = elemento.Fecha.ToString("dd/MM/yyyy");
                            string[] fechaDividida = fecha.Split('/');
                            string fechaCompleta = "";
                            foreach (string n in fechaDividida)
                            {
                                fechaCompleta = fechaCompleta + n;
                            }

                        }
                        <a class="btn btn-default" href="~/Comentario/AgregarComentario/?titulo=@elemento.Titulo&fecha=@elemento.Fecha">Agregar Comentario</a>
                    </td>
                    <td>
                        <img src="@Url.Action("accederArchivo", "Publicacion", new { identificador = @elemento.Titulo, fecha = @elemento.Fecha })">
                    </td>


                </tr>
            }
        </table>
    </div>

</div>
