
@model List<ProyectoWebBlog.Models.ViewModels.PublicacionModel>
@{
    ViewBag.Title = "Publicaciones " + ViewBag.Categoria;
}

<div class="container" style="margin-top: 30px">
    <div class="container titulos-principales">
        <h3>Publicaciones de la categoria </h3>
        <h4>@ViewBag.Categoria</h4>
    </div>

    @foreach (var elemento in Model)
    {
        <div class="card cards-publicaciones">
            <img class="card-img-top" src="@Url.Action("accederArchivo", "Publicacion", new { identificador = @elemento.Titulo, fecha = @elemento.Fecha })">
            <div class="card-body">
                <h5 class="card-title">@elemento.Titulo</h5>
                <h8 class="card-title">@elemento.Fecha</h8>
            </div>
            <div class="card-body">
                <p class="card-text">@elemento.Texto</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Autor: @ViewBag.ListaUsuarios[@elemento.IdUsuario]</a>
                @{
                    string fecha = elemento.Fecha.ToString("dd/MM/yyyy");
                    string[] fechaDividida = fecha.Split('/');
                    string fechaCompleta = "";
                    foreach (string n in fechaDividida)
                    {
                        fechaCompleta = fechaCompleta + n;
                    }
                }
                <a href="~/Comentario/VerComentarios/?titulo=@elemento.Titulo&fecha=@elemento.Fecha" class="card-link">Comentarios: @elemento.NumeroComentarios</a>
                <a class="btn btn-secondary" style="float:right;" href="~/Comentario/AgregarComentario/?titulo=@elemento.Titulo&fecha=@elemento.Fecha">Comentar</a>
            </div>
        </div>


    }
    <div class="container-fluid justify-content-center paginacion-principal">
        <ul class="pagination paginacion">
            <li class="page-item"><a class="botones-paginacion page-link" href="@Url.Action("VerPublicacionesCategoria", "Publicacion", new { nombreCategoria = ViewBag.Categoria,  paginaMostrada = ViewBag.PaginaActual - 1 })">Anterior</a></li>
            @for (int pagina = ViewBag.NumeroInicioPaginacion; pagina <= ViewBag.NumeroFinalPaginacion; pagina++)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("VerPublicacionesCategoria", "Publicacion", new {nombreCategoria = ViewBag.Categoria,  paginaMostrada = pagina})">@pagina</a></li>
            }
            <li class="page-item"><a class="botones-paginacion page-link" href="@Url.Action("VerPublicacionesCategoria", "Publicacion", new { nombreCategoria = ViewBag.Categoria, paginaMostrada = ViewBag.PaginaActual + 1})">Siguiente</a></li>
        </ul>
    </div>
</div>
